*{
    scroll-snap-type: none;
}

#root {
    display: grid;
    width: 30px;

}

#dis{
    font-weight: bold;
    font-size: large;
}

#root>button {
    width: fit-content;
}


.main {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    gap: 2px;
}

.squares {
    width: 30px;
    height: 30px;
    background-color: plum;
    transition: background-color 0.2s;
}

.squares:hover {
    background-color: black;
    color: black;
}

