* {
    scroll-snap-type: none;
}


#root {
    display: grid;
    width: 30px;

}

#dis {
    font-weight: bold;
    font-size: large;
}

#root>button {
    width: max-content;
}


.main {
    display: grid;
    max-width: 100%; /* Set a maximum width to ensure responsiveness */
    /* margin: 0 auto; Center the container horizontally */
    gap: 2px;
}

#main-grid {
    width: 100%;
    height: 100%;
}

.squares {
    width: 30px;
    height: 30px;
    background-color: plum;
    transition: background-color 0.2s;
}

.squares:hover {
    background-color: black;
    color: black;
}

